.gridmarket-options-note{
	clear: both;
	background-color: #FFFFE0;
    border: 1px solid #E6DB55;
	padding: 5px 10px;
	margin: 10px 0px;
	color: #666666;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
    font-size: 12px;
	font-weight: bold;
    line-height: 24px;
}


/* 127451-1401181458 */